AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
SQS_QUEUE_URL=https://sqs.us-west-2.amazonaws.com/123456789012/helixona-agent-tasks
SQS_QUEUE_URL_IV=https://sqs.us-west-2.amazonaws.com/123456789012/helixona-agent-iv-tasks
BOT_ROLE=submissions
S3_BUCKET_NAME=helixona-claims-documents
ECW_LOGIN_URL=https://eclinicalworks.com/login
SECRETS_MANAGER_PREFIX=prod/helixona/
